/*global*/

html {
    font-size: small;
    background-color: #dbdbdb;
}

body {
    z-index: 5;
}


/*intro area*/

nav {
    padding: 0;
    height: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    border: 0.01em solid rgb(194, 172, 145);
    border-top: none;
    box-shadow: 0 8px 6px -6px black;
    position: fixed;
    top: 0;
    background-color: #ebebeb;
    z-index: 10;
}

ul {
    position: absolute;
    right: 0;
    margin-right: 4em;
}

nav li {
    display: inline-block;
    margin: 0.1em;
    padding: 0.4em;
    font-size: 1.2rem;
}

nav li a {
    text-decoration: underline;
    color: inherit;
}

#lander {
    position: relative;
    top: -1em;
    background-image: url("lander.jpg");
    background-size: cover;
    width: 100%;
    height: 55em;
    margin: 0 auto;
    opacity: 0.88;
    margin-bottom: 10em;
    /***************************/
    display: flex;
    align-items: center;
    justify-content: center;
}

#characteristics {
    display: grid;
    padding: 1em;
    margin: auto auto;
    width: 75%;
    height: 75%;
    background-color: #ebebeb;
    opacity: 0.25;
    border: 1em solid black;
}